@model WebAppTest.Models.Sinav
@{
    ViewBag.Title = "Index";
}
 
<h2>Sınav Ol</h2>

@using (Html.BeginForm())
{
    <div class="form-inline">
        <div class="form-group">
            <div class=" col-md-5">
                @Html.DropDownList("SinavId", null, "Sınav Seçiniz", htmlAttributes: new { @class = "form-control" })
            </div>
            <div class="col-md-7">
                <input type="submit" id="ButtonGetTest" value="Soruları Getir ve Teste Başla!" class="btn btn-primary" />
            </div>
        </div>
    </div>

}
<div id="TestSection">

</div>

